<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MDHotel</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.mdhotel.yanzheng.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.mdhotel.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegisterStaff</display-name>
    <servlet-name>RegisterStaff</servlet-name>
    <servlet-class>com.mdhotel.servlet.RegisterStaff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStaff</servlet-name>
    <url-pattern>/RegisterStaff</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>com.mdhotel.servlet.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>*.staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassengerServlet</display-name>
    <servlet-name>PassengerServlet</servlet-name>
    <servlet-class>com.mdhotel.servlet.PassengerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerServlet</servlet-name>
    <url-pattern>*.pass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoodsServlet</display-name>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.mdhotel.servlet.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>*.goods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.mdhotel.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>*.order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccomServlet</display-name>
    <servlet-name>AccomServlet</servlet-name>
    <servlet-class>com.mdhotel.servlet.AccomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccomServlet</servlet-name>
    <url-pattern>*.accom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomServlet</display-name>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.mdhotel.servlet.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>*.room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TongjiServlet</display-name>
    <servlet-name>TongjiServlet</servlet-name>
    <servlet-class>com.mdhotel.servlet.TongjiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TongjiServlet</servlet-name>
    <url-pattern>*.tongji</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopServlet</display-name>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>com.mdhotel.servlet.ShopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>*.shop</url-pattern>
  </servlet-mapping>
</web-app>